@page
@model Watchlist.Views.Watchlist.indexModel
@{
    ViewData["Title"] = "index";
}

<h1>index</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
